# Python: bytecode, caches, virtualenvs, and common build artifacts
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
*.egg
pip-wheel-metadata/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Django:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
.db/

# Jupyter Notebook
.ipynb_checkpoints

# R
.Rhistory
.RData
.Ruserdata
.Rproj.user/

# Python
__pypackages__/
.python-version

# Virtual environments
.venv/
venv/
env/
.env/
ENV/
env.bak/
venv.bak/
.env
.env.*

# ML Catboost
catboost_info/

# MLflow
mlruns/
mlruns.db
mlflow.db

# System files
.DS_Store
.Trash-*
*.swp
*~

# VS Code
.github
.vscode/
.history/
*.code-workspace

# tropical-cyclones project files
tropical-cyclones/data/ibtracs.csv
tropical-cyclones/web_app/app/data/weights/base_augmented_model_histGradientBoost.pkl

# cycling-operator project files
cycling-operator/libs/
